body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

p{
    position: relative;
    overflow: hidden;
    font-size: 4rem;
    font-family: sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes shine {
    0%{
        background-position: -500%;
    }

    100%{
        background-position: 500%;
    }
}